<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="Stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="HomePage.js"></script>
</head>
<body>
<div ng-app="homeApp" ng-controller="homeController">
    <nav class="navbar navbar-inverse" >
        <div class="header">
            <div class="navbar-header">
                <h1 class="title">Knowledge Graph Search</h1>
            </div>
            <ul class="nav navbar-nav" >
                <li><a href="ProfileInfo.html" class="tabs">Profile Info</a></li>
                <li class="active"><a href="HomePage.html" class="tabs">Home</a></li>
                <li><a href="AboutPage.html" class="tabs">About</a></li>
                <li><a href="ContactPage.html" class="tabs">Contact us</a></li>
                <li><a href="index.html" class="tabs">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <form align="center">
            <h1>Knowledge Graph and Text-to-speech</h1>
            <br>
            <h4 class="color">Enter Celebrity Name</h4>
            <input ng-model="Ccode" placeholder="Enter name">
            <button ng-click="kg()" class="btn btn-primary"> Show Info </button>
            <div ng-show="visible" class="card1">
                <img class="profImage" ng-model="path4" src={{path5}}  style="width:100%">
                <h3 ng-model="path1">{{path1}}</h3>
                <h5 ng-model="path2">{{path2}}</h5>
                <p ng-model="path3"><a href="{{path3}}">{{path3}}</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>